# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/docker/mysql/datadir
erl_crash.dump
/rabbitmq.log
/rabbitmq
/quickwit/qwdata/
/quickwit/logs/
/docker/services/data/
/docker/services/log/
.DS_Store